/* =============================


	ALINHAMENTO, POSIÇÃO, TAMANHO


   ============================= */

header
{
	text-align: center;
}

	header #cabecalho
	{

	}
		header #cabecalho h1
		{
			margin-bottom: .3em;
		}

			header #cabecalho h1 a img
			{
				height: 1em;
				margin: 0 .2em;
				width: 1em;
			}

		header #cabecalho h2
		{
			margin: 0 15%;
			padding-bottom: .2em;
			width: 70%;
		}

		header #cabecalho h3
		{
			display: none;
		}

		header #cabecalho h4
		{
			margin: 0;
			padding-top: .2em;
		}

	header #menu
	{
	}
		header #menu h2
		{
			margin-bottom: 0;
		}

		header #menu ul
		{
			margin: .5em 0;
			padding: 0;
		}

			header #menu ul li
			{
				list-style-type: none;
				border-width: .12em 0 0;
			}
				header #menu ul li:last-child
				{
					border-width: .12em 0 .12em;
				}
				@media screen and (min-width:  400px) {
					header #menu ul li
					{
						display: inline;
						margin: .5em 0;
					}
				}

			header #menu ul li a
			{
				display: block;
				padding: .2em 0;
			}
				@media screen and (min-width:  400px) {
					header #menu ul li a
					{
						display: inline-block;
						width: 45%;
					}
				}
				@media screen and (min-width:  500px) {
					header #menu ul li a
					{
						display: inline-block;
						width: 30%;
					}
				}
				@media screen and (min-width:  750px) {
					header #menu ul li a
					{
						display: inline;
						padding: .2em .7em;
					}
				}
				@media screen and (min-width:  800px) {	header #menu ul li a {	padding: .2em 1em;		}	}
				@media screen and (min-width:  850px) {	header #menu ul li a {	padding: .2em 1.5em;	}	}
				@media screen and (min-width:  950px) {	header #menu ul li a {	padding: .2em 2em;		}	}				

#body
{
	margin: -1.5em 5% 0 5%;
	padding: 1em 0;
}

#frases
{
}
	#frases h2
	{
		margin: 0;
		padding: 0 1em;
	}

	#frases h2
	{
		text-align: center;
	}
	#frases span
	{
		display: block;
		text-align: right;
	}
	@media screen and (min-width:  700px) {
		#frases span
		{
			text-align: center;	
		}
	}


#noivos_big
{
	padding: 1em 5%;
}

	#noivos_big h2
	{
		text-align: center;
		margin: 0;
	}

	#noivos_big p
	{
		text-indent: 2em;
		text-align: justify;
	}

	#noivos_big p:last-child
	{
		margin-bottom: 1em;
	}

	#noivos_big .noivos
	{
		margin: 1em 0;
	}
		@media screen and (min-width:  400px) {
			#noivos_big .noivos
			{
				display: inline-block;
				width: 48.7%;
			}
			#noivos_big .noivos:last-child
			{
				margin-left: 2%;
			}
		}

		#noivos_big .noivos h3, #noivos_big .noivos p
		{
			margin: 0;
		}

		#noivos_big .noivos h3
		{
			text-align: center;
		}

		#noivos_big .noivos .foto
		{
			display: inline-block;
			vertical-align: top;
			text-align: center;
			width: 100%;
		}

			#noivos_big .noivos .foto img
			{
				width: 8em;
			}

		#noivos_big .noivos .dados
		{
			display: inline-block;
			width: 100%;
		}

#noivos_mini
{
	padding: 1em 5%;
	text-align: center;
}

	#noivos_mini div
	{
		display: inline-block;
		vertical-align: top;
	}

	#noivos_mini a
	{
		text-align: left;
	}

		#noivos_mini a:first-child
		{
			margin-bottom: .5em;
		}
		@media screen and (min-width: 600px) { #noivos_mini a:last-child	{	margin-left: 1em;	}	}


		#noivos_mini a:hover h2, #noivos_mini a:hover p
		{
			text-decoration: underline;
		}

		#noivos_mini a:hover img
		{
			opacity: .7;
		}

	#noivos_mini h2, p
	{
		margin: 0;
	}

		#noivos_mini h2
		{
			font-weight: 400;
		}
		#noivos_mini p
		{
			font-size: .9em;
		}

	#noivos_mini .foto
	{
		width: 30%;
	}
		@media screen and (min-width: 550px) { #noivos_mini .foto	{	width: 20%;	}	}
		@media screen and (min-width: 600px) { #noivos_mini .foto	{	width: 15%;	}	}

		#noivos_mini .foto img
		{
			width: 100%;
		}

	#noivos_mini .dados
	{
		width: 60%;
		padding-left: .5em;
	}
		@media screen and (min-width: 550px) { #noivos_mini .dados	{	width: 75%;	}	}
		@media screen and (min-width: 600px) { #noivos_mini .dados	{	width: 30%;	}	}


#noticias
{
}
	#noticias h2
	{
		text-align: center;
		margin: 0;
	}

	#noticias div
	{
	}

	#noticias section
	{
		padding: 0 .5em;
		text-align: center;
	}

		#noticias section h2, #noticias section p
		{
			display: inline-block;
			vertical-align: text-top;
			margin: 0;
		} 

		#noticias section h2
		{
			width: 100%;
		}
/*			@media screen and (min-width: 320px) {	#noticias section h2	{	width: 15%;		}	}*/
/*			@media screen and (min-width: 500px) {	#noticias section h2	{	display: none;	}	}*/

		#noticias section p
		{
			text-align: left;
			width: 100%;
		}
			@media screen and (min-width: 320px) {
				#noticias section p
				{
					margin-left: 1em;
					width: 65%;
				}
			}
			@media screen and (min-width: 500px) {
				#noticias section p
				{
					margin: 0;
					text-align: center;
					width: 100%;
				}
			}

		#noticias section p span
		{
			display: none;
		}
			@media screen and (min-width: 500px) {
				#noticias section p span
				{
					display: inherit;
					margin-right: 1em;
				}
			}

		#noticias section .sep
		{
			margin: 1em 20%;
			width: 60%;
		}

#sociais
{
	margin: 1em -5.5%;
	text-align: center;
	width: 111%;
}

	#sociais ul
	{
		padding: .5em 5.5%;
	}

	#sociais ul li
	{
		display: inline;
		margin-right: 1em;
	}

	#sociais ul li:last-child()
	{
		margin-right: 0;
	}

		#sociais ul li a
		{
			background-size: 100%;
			display: inline-block;
			height: 35px;
			width: 35px;
		}

			#sociais ul li a span
			{
				display: none;
			}

.galeria
{
	margin: 1em 0;
	text-align: center;
}

	.galeria img
	{
		max-width: 80%;
		margin: .5em 10%;
		vertical-align: text-top;
	}
	@media screen and (min-width:  500px) { .galeria img	{	margin: 0 15%;	width: 70%;	}	}
	@media screen and (min-width:  600px) { .galeria img	{	margin: 0 2%;	width: 40%;	}	}	

	.galeria img .foto_v
	{
		max-width: 60%;
		margin: .5em 20%;		
	}
	@media screen and (min-width:  500px) { .galeria img .foto_v	{	margin: 0 20%;	width: 60%;	}	}
	@media screen and (min-width:  600px) { .galeria img .foto_v	{	margin: 0 5%;	width: 35%;	}	}	

	.galeria .desktop
	{
		display: none;
	}
		@media screen and (min-width: 550px) {
			.galeria .desktop	{	display: inline;	}
			.galeria .noscript	{	display: none;		}
		}

	.galeria .mobile
	{
	}
		@media screen and (min-width: 550px) { #galeria .mobile	{	display: none;	}	}


.enfeite
{
	padding: 0 .5em;
	text-align: center
}
	.enfeite div
	{
		display: inline-block;
		height: 1em;
		overflow: hidden;
		width: 47%;
	}

	.enfeite .enf_top_dir, .enfeite .enf_bot_dir
	{
		margin-left: -.25em;
	}

	.enfeite .enf_top_cen, .enfeite .enf_bot_cen
	{
		display: none;
	}

.texto
{
}
	.texto h3
	{
		border-bottom: .1em solid #9d9d9c;
		margin: 1em 15% .5em;
		padding: 0 0 .2em;
		text-align: center;
		width: 70%;
	}

	.texto p
	{
		margin: .2em 0;
	}

	.texto p span
	{
		display: inline-block;
		margin-right: .5em;
		padding: 0 .5em;
		text-align: center;
		text-indent: 0;
/*		width: 10%;*/
	}

	.texto p .data
	{
		display: inline-block;
		margin-left: .5em;
		text-align: center;
		text-indent: 0;
/*		width: 12%;*/
	}



/* =============================


	CORES / FONTES


   ============================= */

a
{
	color: #9d9d9c;
	text-decoration: none;
}


body
{
	background: url('link_fundo_01.jpg');
	color: #9d9d9c;
	font-family: 'Cabin', sans-serif;
	font-size: 16px; 
}


header
{
}
	header #cabecalho
	{
	}
		header #cabecalho h2
		{
			font-size: .8em;
			font-weight: 400;
			border-bottom: .15em solid #9d9d9c;
		}

		header #cabecalho h4
		{
			font-size: .8em;
			font-weight: 400;
		}

	header #menu
	{
		margin: 1em 0 0;
	}
		header #menu h2
		{
			font-size: 1em;
			margin: .5em 0;
		}

		header #menu ul
		{
		}
			header #menu ul li
			{
				border-style: solid;
				border-color: #9d9d9c;
			}

			header #menu ul li a
			{
				background-color: white;
			}
				header #menu ul li a:hover
				{
					background-color: #dedede;
					color: black;
				}

#body
{
	background-color: white;
	box-shadow: 0 0 1em #000;
}

#frases
{
}
	#frases h2
	{

		font-size: 1em;
		font-weight: 400;
	}

	#frases span
	{
		font-size: .7em;
		font-weight: 400;
	}


#sociais
{
	background-color: #9d9d9c;
}

	#sociais ul li a.face 		{	background-image: url('link_sociais_face.png');			}
	#sociais ul li a.face:hover {	background-image: url('link_sociais_face_hover.png');	}
	#sociais ul li a.gpls 		{	background-image: url('link_sociais_gpls.png');			}
	#sociais ul li a.gpls:hover {	background-image: url('link_sociais_gpls_hover.png');	}
	#sociais ul li a.inst 		{	background-image: url('link_sociais_inst.png');			}
	#sociais ul li a.inst:hover {	background-image: url('link_sociais_inst_hover.png');	}
	#sociais ul li a.mail 		{	background-image: url('link_sociais_mail.png');			}
	#sociais ul li a.mail:hover {	background-image: url('link_sociais_mail_hover.png');	}
	#sociais ul li a.pint 		{	background-image: url('link_sociais_pint.png');			}
	#sociais ul li a.pint:hover {	background-image: url('link_sociais_pint_hover.png');	}
	#sociais ul li a.twit 		{	background-image: url('link_sociais_twit.png');			}
	#sociais ul li a.twit:hover {	background-image: url('link_sociais_twit_hover.png');	}


#noticias
{
}
	#noticias h2
	{
		font-size: 1em;
		font-weight: 600;
	}

	#noticias section p span
	{
		font-weight: 600;
	}

	#noticias section .sep
	{
		border-bottom: .1em solid #9d9d9c;
	}



.enfeite
{
}
	.enfeite div
	{
		background-repeat: no-repeat;
	}

	.enfeite .enf_top_esq, .enfeite .enf_bot_esq
	{
		background-size: auto;
		background-position: left;
	}
	.enfeite .enf_top_dir, .enfeite .enf_bot_dir
	{
		background-size: auto;
		background-position: right;
	}

	.enfeite .enf_top_esq	{	background-image: url('link_enf_top_esq.png');	}
	.enfeite .enf_top_dir	{	background-image: url('link_enf_top_dir.png');	}
	.enfeite .enf_bot_esq	{	background-image: url('link_enf_bot_esq.png');	}
	.enfeite .enf_bot_dir	{	background-image: url('link_enf_bot_dir.png');	}
	.enfeite .enf_bot_cen	{	background-image: url('link_enf_bot_cen.png');	}

.texto
{
}

	.texto p span
	{
		background-color: #ddd;
		color: #7c7c7c;
		font-weight: 700;
	}

	.texto p .data
	{
		background-color: #ddd;
		color: #7c7c7c;
		font-weight: 700;
	}

	.texto p a
	{
		background-color: #ddd;
		color: #7c7c7c;
	}